@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    overflow-x: hidden;
}

.bg-animate {
    animation: shine 1s linear infinite;
    background-size: 200% auto;
}

@keyframes shine {
    to {
        background-position: -200% center;
    }
}