@font-face {
    font-family: "Circular Std";
    src: url('../fonts/CircularStd-Book.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Circular Std";
    src: url('../fonts/CircularStd-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Circular Std";
    src: url('../fonts/CircularStd-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Circular Std";
    src: url('../fonts/CircularStd-Black.ttf');
    font-weight: 900;
    font-style: normal;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    overflow-x: hidden;
    font-family: "Circular Std";
    background-color: #040800;
}

.bg-animate {
    animation: shine 1s linear infinite;
    background-size: 200% auto;
}

@keyframes shine {
    to {
        background-position: -200% center;
    }
}